@inject HttpClient HttpClient
@inject IJSRuntime JS
@page "/"
@using System.Runtime.Serialization
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<InputFile OnChange="BlurFiles" multiple />

<div class="p-3">
    <img id="img1" />
    <img id="img2" />
    <img id="img3" />
    <img id="img4" />
    <img id="img5" />
    <img id="img6" />
    <img id="img7" />
    <img id="img8" />
    <img id="img9" />
    <img id="img10" />
</div>
@code {
    async Task BlurFiles(InputFileChangeEventArgs e)
    {
        var files = e.GetMultipleFiles();
        var zipArchive = await ImageBlur.BlurImagesAndAwaitResult(HttpClient, "http://localhost:8000",
            "app1", "d574a738-a7a9-40f1-a4ee-8773b05b029d", 
            0.9f, 0.5f, files.ToArray(), 60);
        int iter = 1;
        foreach (var entry in zipArchive.Entries)
        {
            if (entry.Name.Split('.').Last() == "jpg")
            {
                var stream = entry.Open();
                var streamReference = new DotNetStreamReference(stream);
                await JS.InvokeVoidAsync("setSource", $"img{iter++}", streamReference, "image/png",
                "test");
            }
        }
    }

}
